.heading {
    width: full;
    border: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #112d4e;
    color: #ffffff;
    border-radius: 15px;
}

.body1 {
    width: full;
    border: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #3f72af;
    color: #000000;
    border-radius: 10px;
    align-content: center;
}

input[type="text"] {
    height:20px;
    text-align: center;
    border-radius: 15px;
    border-color: #112d4e;
    background-color: #ffffff;
}

#deliver {
    width: full;
    border: 5px;
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #fc5185;
    color: #112d4e;
    border-radius: 15px;
}

.textarea {
    width: full; 
    margin: 0.5%;
    padding: 0px;
    border: 15px;
    border-radius: 10px;
    border-color: #112d4e;
}

button {
    background-color: #112d4e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: center;
    border-radius: 50px;
    transition-duration: 0.4s;
    display:inline-block;    
    margin:0 auto;
  }

  button:hover {
    background-color: #fc5185;
    color: white;
  }