.heading {
    width: full;
    border: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #413c69;
    color: #ffffff;
    border-radius: 15px;
}

.body1 {
    width: full;
    border: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #a7c5eb;
    color: #413c69;
    border-radius: 10px;
}

.textarea {
    width: full; 
    margin: 3%;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

.button1 {
    align-items: center;
}

button {
    background-color: #413c69; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: center;
    border-radius: 50px;
    transition-duration: 0.4s;
    display:inline-block; !important      
    margin:0 auto;
  }

  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }